@page "/"

<PageTitle>jzak.me</PageTitle>

<h1>Hi!</h1>

This application is protected by Cloudflare and is using Github + Azure Static Site technology for CI/CD! Site built using Microsoft Blazor technology.
